<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        About
    </h1>
    <p>
        This is a website for PA04 of CS103a. It is a website for users to operate with their transactions.
    </p>
    <p>
        Qiuyang Wang: <a href="https://github.com/Billy-FIN">https://github.com/Billy-FIN</a>
    </p>
</body>

</html>