<!DOCTYPE html>
<html>
<% title="PA04" %>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to my <%= title %>. Please first login and then see choices on the guide bar!
    </p>
  </body>

</html>